{% extends 'base.html' %}
{% block content %}
<div class="post-form">
  <form method="POST">
    {% csrf_token %}
    <label for="caption">Song Title:</label>
    <input type="text" name="song_title" placeholder="Shape of You" required>
    <label for="caption">Song Title:</label>
    <input type="text" name="artist" placeholder="Ed Sheeran" required>
    <button type="submit">Search</button>
  </form>
  {% if lyrics %}
  <div  class="output">
    <p class="mb-auto">{{lyrics}}</p>
  </div>
  {% endif %}
</div>



{% endblock %}
